[submodule "hyperliquid-cli"]
	path = hyperliquid-cli
	url = https://github.com/haeminmoon/hyperliquid-cli.git
	branch = main
[submodule "kiwoom-cli"]
	path = kiwoom-cli
	url = https://github.com/haeminmoon/kiwoom-cli.git
	branch = main
[submodule "toss-cli"]
	path = toss-cli
	url = https://github.com/haeminmoon/toss-cli.git
	branch = main
[submodule "grvt-cli"]
	path = grvt-cli
	url = https://github.com/haeminmoon/grvt-cli.git
	branch = main
[submodule "pacifica-cli"]
	path = pacifica-cli
	url = https://github.com/haeminmoon/pacifica-cli.git
	branch = main
[submodule "backpack-cli"]
	path = backpack-cli
	url = https://github.com/haeminmoon/backpack-cli.git
	branch = main
